<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="container-gallery">
    <thead>
        <th>
            Header
        </th>
        <td>Image 1</td>
        <td>Image 2</td>
        <td>Image 3</td>
        <td>Image 4</td>
    </thead>
    <tbody>
        <tr>
            
        </tr>
        <td>a</td>
        <td>b</td>
        <td>v</td>
        <td>g</td>
    </tbody>
</body>
</html>