<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="text-center">Why are milk products hardest to maintain</h1>
    <h2 class="text-center">What should we know</h2>
    <thead>

    </thead>
    <footer>
    <a href="https://www.britannica.com/topic/dairy-product/" target="_blank">More about dairy products</a>
    </footer>
</body>
</html>