<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td>Random text</td>
            </tr>
            <tr>
                <td>Company name</td>
            </tr>
            <tr>
                <td>Grade</td>
            </tr>
        </tbody>    
    </div>
</body>
</html>